<label for="location-search">Search for a new place</label>
<input id="location-search" placeholder="Ex: Chicago" #search>
<!-- reference search -->
<button (click)="searchHousingLocations(search.value)">Search</button>

<article *ngFor="let location of results">
    <img [src]="location.photo" [alt]="location.name">
    <p>{{location.city}}</p>
    <button (click)="selectedLocation(location)">View</button>
</article>

<article id="slide-show">
    <h2 class="text-white bg-black text-center">Ứng dụng slide show</h2>
    <!-- phan body -->
    <div class="container">
        <div class="row">
            <div class="col-12 bg-danger">
                <div class="row">
                    <img class="col-2 img-fluid" src="./assets/images/c-write.png" alt="writefile" />
                    <img class="col-2 img-fluid" src="./assets/images/c-read.png" alt="readfile" />
                    <img class="col-2 img-fluid" src="./assets/images/c-sort.png" alt="sort" />
                    <img class="col-2 img-fluid" src="./assets/images/c-find.png" alt="find" />
                    <img class="col-2 img-fluid" src="./assets/images/c-remove.png" alt="remove" />
                    <img class="col-2 img-fluid" src="./assets/images/c-add.png" alt="add" />
                </div>
            </div>
        </div>
        <div class="row m-auto justify-content-center">
            <div class="col-12">
                <img class="col-12 img-fluid main-photo" src="./assets/images/1.jpg" alt="main-img" />
                <img class="col-2 img-fluid thumbnail active" src="./assets/images/1.jpg" alt="thumbnails" />
                <img class="col-2 img-fluid thumbnail" src="./assets/images/2.jpg" alt="thumbnails" />
                <img class="col-2 img-fluid thumbnail" src="./assets/images/3.jpg" alt="thumbnails" />
                <img class="col-2 img-fluid thumbnail" src="./assets/images/4.jpg" alt="thumbnails" />
                <img class="col-2 img-fluid thumbnail" src="./assets/images/5.jpg" alt="thumbnails" />
            </div>
        </div>
    </div>
</article>