<!-- @author Sok Kim Thanh 
@CreatedDate: 02/07/2023
@CreatedFile: main.html
-->

<main>
  <header>
    <img src="../assets/logo.svg" alt="fairhouse" />
  </header>
  <section>
    <!-- Description -->
    <!-- @input locationList parent sent data to child component housinglist -->
    <!-- housingLocationList:  list of housing parent component-->
    <!-- @Ouput locationSelectedEvent: child component send event to parent -->
    <!-- updateSelectedLocation(): component parent function to get event data from child component -->
    <!-- $event: catch $eventEmitter data from child @ouput locationSelectedEvent to parent-->
    <app-housing-list [locationList]="housingLocationList"
      (locationSelectedEvent)="updateSelectedLocation($event)"></app-housing-list>
    <article>
      <ng-container *ngIf="selectedLocation">
        <img [src]="selectedLocation.photo">
        <p>{{selectedLocation.name}}</p>
        <p>{{selectedLocation.availableUnits}}</p>
        <p>{{selectedLocation.city}}, {{selectedLocation.state}}</p>
        <p>{{selectedLocation.laundry ? "Has laundry" : "Does Not have laundry"}}</p>
        <p>{{selectedLocation.wifi ? "Has wifi" : "Does Not have wifi"}}</p>
      </ng-container>
    </article>
  </section>
</main>