<article id="slide-show">
    <h2 class="text-white bg-black text-center">Ứng dụng slide show</h2>
    <!-- phan body -->
    <div class="container">
        <!-- Modal Add File -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- Tieu de: modal -->
                        <h5 class="modal-title" id="staticBackdropLabel">Add File</h5>
                        <!-- nut x: thoat -->
                        <button id="close_button" type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <!-- ----------- -->
                    <!-- IMPORTANT!- -->
                    <!-- ----------- -->
                    <div class="modal-body">
                        <!-- noi dung: modal -->
                        <!-- keo tha hinh -->
                        <div id="dropzone" class="dropzone" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
                            <img id="dragImage" src="../../assets/images/c-dragEvent.png" alt="dragAndDrop"
                                draggable="true" (dragstart)="onDragStart($event)">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="add()">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ------------------------------- -->
        <!-- ------------------------------- -->
        <!-- ----- Hình ảnh slide show ----- -->
        <!-- ------------------------------- -->
        <!-- ------------------------------- -->
        <div class="row">
            <div class="col-12 bg-warning">
                <div class="row">
                    <img class="col-2 img-fluid btnIcon" src="./assets/images/c-write.png" alt="writefile"
                        (click)="writefile()" />
                    <img class="col-2 img-fluid btnIcon" src="./assets/images/c-read.png" alt="readfile"
                        (click)="readfile()" />
                    <img class="col-2 img-fluid btnIcon" src="./assets/images/c-sort.png" alt="sort" (click)="sort()" />
                    <img class="col-2 img-fluid btnIcon" src="./assets/images/c-find.png" alt="find" (click)="find()" />
                    <button type="button" class="btn btn-primary col-2">
                        <img class="img-fluid btnIcon" src="./assets/images/c-play.png" alt="sort" (click)="play()" />
                    </button>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary col-2" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        <img class="img-fluid btnIcon" src="./assets/images/c-add.png" alt="add" />
                    </button>
                </div>
            </div>
        </div>

        <div class="row m-auto justify-content-center">
            <div class="col-12" *ngIf="dishes.length">
                <img class="col-12 img-fluid main-photo" [src]="dishes[0].url_image" [alt]="dishes[0].tenMonAn" />
                <div class="row">
                    <!--fields -->
                    <!-- ******************************** -->
                    <!--    private _maMonAn: string;
                                private _tenMonAn: string;
                                private _donGia: number;
                                private _soLuong: number;
                                private _url_image: string; -->
                    <!-- ******************************** -->
                    <div class="col-12 col-sm-3 article-group-remove m-1 p-1 text-white bg-success" *ngFor="let item of dishes">
                        <img class="img-fluid thumbnail" [src]="item.url_image" [alt]="item.tenMonAn" />
                        <p>{{item.tenMonAn | uppercase}}</p>
                        <p class="text-end">{{item.donGia |currency}}</p>
                        <button (click)="remove(item)"><img class="col-3 img-fluid btnIcon btnRemove"
                                src="./assets/images/c-remove.png" alt="remove" /></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>