<article id="slide-show">
    <h2 class="text-white bg-black text-center">Ứng dụng slide show</h2>
    <!-- phan body -->
    <div class="container">
        <!-- Vẽ modal kéo thả ở đây -->
        <!-- **************************************************************** -->
        <!--                 Modal kéo thả hình ảnh                           -->
        <!-- **************************************************************** -->
        <!-- Modal Add File -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- Tieu de: modal -->
                        <h5 class="modal-title" id="staticBackdropLabel">Add File</h5>
                        <!-- nut x: thoat -->
                        <button id="close_button" type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <!-- ----------------- -->
                    <!-- KEO THA HINH ANH! -->
                    <!-- ----------------- -->
                    <div class="modal-body">
                        <!-- noi dung: modal -->
                        <!-- keo tha hinh -->
                        <!-- KHU VỰC DROPZONE KÉO THẢ HÌNH -->
                        <!-- **************************************************************** -->
                        <!--                           DROPZONE                               -->
                        <!-- **************************************************************** -->
                        <input type="file" id="inputUpload">
                        <div id="dropzone" class="dropzone dropzone-flex" (dragover)="onDragOver($event)"
                            (drop)="onDrop($event)">
                            <!-- hidden input file -->
                            <!-- showing image choosen -->
                            <img id="dragImage" src="../../assets/images/c-dragEvent.png" alt="dragAndDrop" class="img-fluid"
                                draggable="true" (dragstart)="onDragStart($event)">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="onFileSelected()">Refresh</button>
                        <button type="button" class="btn btn-primary" (click)="add()">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vẽ slide show ở đây -->
        <!-- **************************************************************** -->
        <!--                          Vẽ slide show                           -->
        <!-- **************************************************************** -->
        <div class="row">
            <div class="col-6 bg-warning">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="form-label" for="gallery-search">Search Gallery</label>
                        <input class="form-control" id="gallery-search" placeholder="Ex: monan001" #search>
                    </div>
                </div>
            </div>
            <div class="col-6 bg-warning">
                <!-- các nút điều khiển ở đây -->
                <!-- **************************************************************** -->
                <!--                   Các nút điều khiển slideshow                   -->
                <!-- **************************************************************** -->
                <div class="row justify-content-around align-items-center p-1">
                    <!-- <img class="col-2 img-fluid btnIcon" src="./assets/images/c-write.png" alt="writefile"
                        (click)="writefile()" /> -->
                    <!-- <img class="col-2 img-fluid btnIcon" src="./assets/images/c-read.png" alt="readfile"
                        (click)="readfile()" /> -->
                    <!-- Nút tìm kiếm-->
                    <!-- reference search -->
                    <button type="button" class="btn btn-primary col-4 col-sm-2 m-1"
                        (click)="searchGallery(search.value)">
                        <img class="img-fluid btnIcon" src="./assets/images/c-find.png" alt="find" />
                    </button>
                    <!-- Nút sắp xếp -->
                    <!-- TYPE 1: Sap xep theo ma -->
                    <!-- TYPE 2: Sap xep theo gia -->
                    <button type="button" class="btn btn-primary col-4 col-sm-2 m-1">
                        <img class="img-fluid btnIcon" src="./assets/images/c-sort.png" alt="sort" (click)="sort(1)" />
                    </button>
                    <!-- nút play -->
                    <button type="button" class="btn btn-primary col-4 col-sm-2 m-1">
                        <img class="img-fluid btnIcon" src="./assets/images/c-play.png" alt="sort" (click)="play()" />
                    </button>
                    <!-- nút thêm mới -->
                    <button type="button" class="btn btn-primary col-4 col-sm-2 m-1" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        <img class="img-fluid btnIcon" src="./assets/images/c-add.png" alt="add" />
                    </button>
                </div>
            </div>
        </div>
        <!-- Thông tin card slideshow nằm ở đây -->
        <!-- **************************************************************** -->
        <!--                   Thông tin card slideshow                       -->
        <!-- **************************************************************** -->
        <div class="row m-auto justify-content-center">
            <div class="col-12" *ngIf="dishes.length">
                <!-- ----------------------------------------------------------------------- -->
                <!--                   khu vuc wrap khong nhay xuong hang                    -->
                <!-- ----------------------------------------------------------------------- -->
                <div class="row area-wrap">
                    <!-- ----------------------------------------------------------------------- -->
                    <!--                fields: cac fields one_way data binding                 -->
                    <!-- ----------------------------------------------------------------------- -->
                    <!-- **************************************************************** -->
                    <!--private _maMonAn: string;
                        private _tenMonAn: string;
                        private _donGia: number;
                        private _soLuong: number;
                        private _url_image: string; -->
                    <!-- **************************************************************** -->
                    <div *ngFor="let item of dishes" class="col-12 col-sm-4">
                        <div class="area-relative area-box area-box-animation">
                            <img class="img-fluid thumbnail text-center" [src]="item.url_image" [alt]="item.tenMonAn"
                                (click)="getDetails(item)" />
                            <p class="text-light">{{item.tenMonAn | uppercase}}</p>
                            <p class="text-end">{{item.donGia |currency}}</p>
                            <button type="button" (click)="getDetails(item)" class="btn btn-warning col-2 m-1">
                                <img class="img-fluid" src="./assets/images/c-view.png" alt="remove" />
                            </button>
                            <button type="button" (click)="remove(item)" class="btn btn-warning col-2 m-1">
                                <img class="img-fluid" src="./assets/images/c-remove.png" alt="remove" />
                            </button>
                        </div>
                    </div>
                </div>
                <!-- **************************************************************** -->
                <!--      thông tin chi tiết món ăn sau khi bấm nút view              -->
                <!-- **************************************************************** -->
                <ng-container class="row" *ngIf="dishes">
                    <!-- Thong tin mon an -->
                    <article class="area-relative" *ngIf="monAnDetail as item">
                        <p class="h2 text-bg-info p-4">{{item.tenMonAn | uppercase}}</p>
                        <p class="h4 text-danger fw-bold text-bg-light p-3">{{item.donGia | currency}}</p>
                        <p class="h4 text-warning text-bg-dark p-3"><b>SL:</b> {{item.soLuong | number}}</p>
                    </article>

                    <!-- ----------------------------------------------------------------------- -->
                    <!--             dishes tồn tại thì mới lấy ra được để bấm play              -->
                    <!-- ----------------------------------------------------------------------- -->
                    <!-- Hinh gallery -->
                    <img class="col-12 img-fluid main-photo" [src]="dishes[0].url_image" [alt]="dishes[0].tenMonAn" />
                </ng-container>
            </div>
        </div>
    </div>
</article>