/**
* Sok Kim Thanh
* Slideshow.css
* Date: 27/06/2023 
*/
/* --------------------------------*/
/* ------Main photo style----------*/
/* --------------------------------*/

.main-photo {
    height: 700px;
    width: 900px;
    margin-bottom: 4px;
}

.thumbnail {
    opacity: 0.7;
    height: 100px;
}

.active {
    opacity: 1;
    border: 2px solid red;
    padding: auto;
}

#slide-show {
    background-image: url(../../images/bg-van-go.png);
}